%h2.page_title= "Applications for #{@position.name}"
-@membership_applications.each do |application|
  .application_row
    = application.applicant_name
    = link_to "web",position_membership_application_path(@position, application)
    -if application.printable_pdf.exists?
      = "--"
      = link_to "PDF", download_application_path(application)