!!!
%html
  %head
    %title Membership
    = stylesheet_link_tag "/jquery_ui/jquery-ui-1.8.9.custom.css","application.css"
    = javascript_include_tag "jquery-1.5.min.js","/jquery_ui/jquery-ui-1.8.9.custom.min.js","application.js","jquery.maskedinput-1.3.min.js"
    = csrf_meta_tag
  %body
    -if notice
      %p.notice= notice
    -if alert
      %p.alert= alert
    = yield 